.accommodationimage {
  background-image: url(../img/splitpanoramic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  margin-bottom: 25px;
}

.textBoxMiddle {
  color: #767676;
  display: table;
  text-align: center;
  margin: 5px auto;
}

.width33{
	width:33%;
  
  padding: 30px;
  margin-right: -10px;
  float: left;
}
.galleryaccommodation{
  background-image: url(../img/apartment1/44368087.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.accommodationinfo{
  height: auto;
  background-color: #fff;
  padding:10px;
}

.accommodationheadline{
  font-size: 1.5em;
  color:#733592;
}

.threestars{
  background-image: url(../img/apartment1/threestars.gif);
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 75px;
  margin-top: 10px;
}

.persons:before{
  background-image: url(../img/personicon1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  content: "";
  float:left;
}

.persons{
  margin-top: 10px;
  color:#767676;
}

.centerdistance{
  margin-top: 10px;
  color:#767676;
}

.seadistance{
  margin-top: 10px;
  color:#767676;
}