.apartmentCarousel{
  width:65%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size:cover;
  height: 480px;
  transition: opacity 1s;
}
.apartmentSearchbox{
  width:30%;
  display: inline-block;
  /*height: 480px;*/
  background-color: #FFF;
  border: 1px solid #ddd;
  float: right;
}

.searchboxHeadline{
  height:30px;
  background-color: #FFF;
  padding: 10px 10px 40px 10px;
  background: rgba(115,53,146, 1);
  font-weight: bold;
  color: #fff;
}

.searchboxPrice{
  font-size: 1.75em;
  float:left;
  height: auto;
}

.searchboxPerNight{
  font-size: 1em;
  float:right;
  padding:10px 10px 0 0;
}

.searchboxSelection{
  height:auto;
  padding: 10px 0;
}

.checkIn{
	width:40%;
	float:left;
	padding: 5px 5px 5px 10px;
}

.checkOut{
	width:40%;
	float:left;
	padding: 5px;
}

.guests{
	width:20%;
	float:left;
	padding: 5px 10px 5px 5px;
}

.guestsDropdown{
    width:100%;
	padding: 0.5em;
}

.chkTitle{
  padding:10px 0 10px 0;
}

.calculateTable{
  clear:both;
}
