.apartmentCarousel{
  width:65%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size:cover;
  height: 480px;
  transition: opacity 1s;
}
.apartmentSearchbox{
  width:30%;
  display: inline-block;
  /*height: 480px;*/
  background-color: #FFF;
  border: 1px solid #ddd;
  float: right;
}

.searchboxHeadline{
  height:30px;
  background-color: #FFF;
  padding: 10px 10px 40px 10px;
  background: rgba(115,53,146, 1);
  font-weight: bold;
  color: #fff;
}

.searchboxPrice{
  font-size: 1.75em;
  float:left;
  height: auto;
}

.searchboxPerNight{
  font-size: 1em;
  float:right;
  padding:10px 10px 0 0;
}

.searchboxSelection{
  height:auto;
  padding: 10px 0;
}

.checkIn{
	width:40%;
	float:left;
	padding: 5px 5px 5px 10px;
}

.checkOut{
	width:40%;
	float:left;
	padding: 5px;
}

.guests{
	width:20%;
	float:left;
	padding: 5px 10px 5px 5px;
}

.guestsDropdown{
    width:100%;
	padding: 0.5em;
}

.chkTitle{
  padding:10px 0 10px 0;
}

.calculateTable{
  clear:both;
  padding:10px;
}

.calculateTableLeft{
	float:left;
	padding: 10px 0 10px 5px;
}

.calculateTableRight{
	float:right;
	padding: 10px 5px 10px 0;
}

.searchboxButton{
	padding:20px;
	clear:both;
	text-align: center;
}

.searchButton{

	background-image: -moz-linear-gradient(top, #BA55D3 0%, #733592 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BA55D3), color-stop(100%, #733592));
	background-image: -webkit-linear-gradient(top, #BA55D3 0%, #733592 100%);
	background-image: -o-linear-gradient(top, #BA55D3 0%, #733592 100%);
	background-image: -ms-linear-gradient(top, #BA55D3 0%, #733592 100%);
	background-image: linear-gradient(to bottom, #BA55D3 0%, #733592 100%);
	border: 0.5px solid #4B0082;
	border-radius: 5px;	
	height: 50px;
	width:90%;
	margin: auto;
	outline:none;
	color: #FFF;
	font-size: 1.5em;
}

.searchButton:hover {
	background-image: -moz-linear-gradient(top, #BA55D3 0%, #4B0082 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BA55D3), color-stop(100%, #4B0082));
	background-image: -webkit-linear-gradient(top, #BA55D3 0%, #4B0082 100%);
	background-image: -o-linear-gradient(top, #BA55D3 0%, #4B0082 100%);
	background-image: -ms-linear-gradient(top, #BA55D3 0%, #4B0082 100%);
	background-image: linear-gradient(to bottom, #BA55D3 0%, #4B0082 100%);
}

.searchButton:active {
	border: 2px outset #733592;
}