.apartmentCarousel{
  width:65%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height: 480px;
  transition: opacity 1s;
}
.apartmentSearchbox{
  width:30%;
  display: inline-block;
  height: 480px;
  background-color: #FFF;
  border: 1px solid #ddd;
  float: right;
}

.searchboxHeadline{
  height:30px;
  background-color: #FFF;
  padding: 10px 10px 40px 10px;
  background: rgba(115,53,146, 1);
  font-weight: bold;
  color: #fff;
}

.searchboxPrice{
  font-size: 1.75em;
  float:left;
  height: auto;
}

.searchboxPerNight{
  font-size: 1em;
  float:right;
  padding:10px 10px 0 0;
}

.searchboxSelection{
  height:auto;
  padding: 10px 0;
}

.checkIn{
	width:40%;
	float:left;
	padding: 5px 5px 5px 10px;
}

.checkOut{
	width:40%;
	float:left;
	padding: 5px;
}

.guests{
	width:20%;
	float:left;
	padding: 5px 10px 5px 5px;
}

.guestsDropdown{
    width:100%;
	padding: 0.5em;
}

.chkTitle{
  padding:10px 0 10px 0;
}

.calculateTable{
  clear:both;
  padding:10px;
}

.calculateTableLeft{
	float:left;
	padding: 10px 0 10px 5px;
}

.calculateTableRight{
	float:right;
	padding: 10px 5px 10px 0;
}

.searchboxButton{
	padding:40px 20px 20px 20px;
	clear:both;
	text-align: center;
}

.searchButton{
	background-image: -moz-linear-gradient(top, #7BDBEB 0%, #0000cd 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7BDBEB), color-stop(100%, #0000cd));
	background-image: -webkit-linear-gradient(top, #7BDBEB 0%, #0000cd 100%);
	background-image: -o-linear-gradient(top, #7BDBEB 0%, #0000cd 100%);
	background-image: -ms-linear-gradient(top, #7BDBEB 0%, #0000cd 100%);
	background-image: linear-gradient(to bottom, #7BDBEB 0%, #0000cd 100%);
	border: 0.5px solid #4B0082;
	border-radius: 5px;	
	height: 50px;
	width:90%;
	margin: auto;
	outline:none;
	color: #FFF;
	font-size: 1.5em;
}

.searchButton:hover {
	background-image: -moz-linear-gradient(top, #7BDBEB 0%, #0000cd 50%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #7BDBEB), color-stop(50%, #0000cd));
	background-image: -webkit-linear-gradient(top, #7BDBEB 0%, #0000cd 50%);
	background-image: -o-linear-gradient(top, #7BDBEB 0%, #0000cd 50%);
	background-image: -ms-linear-gradient(top, #7BDBEB 0%, #0000cd 50%);
	background-image: linear-gradient(to bottom, #7BDBEB 0%, #0000cd 50%);
}

.searchButton:active {
	border: 2px outset #733592;
}

.apartmentInfo{
width:100%;
margin-top: -20px;
}

.infoHeadline{
font-size: 1.5em;
font-weight: 600;
padding: 0;
margin-top: -20px;
}

.info{
float:left;
width: 65%;
}

.infoText{
padding: 0 0 20px 0;
color: #565a5c;
}

.about{
width:65%;
padding: 10px;
border-top: 1px solid #ddd;
overflow: hidden;
}

.aboutHeadline{
font-size: 1.5em;
font-weight: 600;
padding: 0 0 10px 0;
}

.aboutText{
padding: 0 0 20px 0;
color: #565a5c;
height: 150px;
overflow: hidden;
position: relative;
transition: height 0.3s ease-out;
}
.aboutText>.expandable{
background: -webkit-linear-gradient(top, rgba(245,245,245,0) 0%, rgba(245,245,245,0.9) 100%, rgba(245,245,245,0.9) 50%, #f5f5f5 100%);
position: absolute;
bottom:0;
height: 45px;
width: 100%;
}

.fifth{
width:20%;
float:left;
text-align: center;
}

.more{
font-size:14px;
color: #4B0082;
margin: auto;
display: block;
text-align: center;
opacity: 0.8;
}

.more:hover{
color: #4B0082;
opacity: 1;
}

.aboutText > .fifth {
text-align: left;
margin-bottom: 10px;
}

.mapwrap{
margin-top: 93px;
border-top: 1px solid #ddd;
float:right;
width: 30%;
  

}

#map {
  margin-top: 20px;
  height: 300px;
  background-color: #CCC;
}

.thankBook{
  width:30%;
  height: 480px;
  background-color: #FFF;
  border: 1px solid #ddd;
  float: right;
  position: relative;
  display: none;
}

.thanks{
	position: absolute;
    top: 35%;
    text-align: center;
    padding: 15px;
}

.thanksMaintext{
	font-family: Pacifico;
 	font-size: 2em;
 	color: rgba(115,53,146, 1);
}

.thanksSubtext{
	font-family: sunsearegular;
 	font-size: 1em;
 	color: #000;
 	margin-top: 70px;
}