button {
  -webkit-appearance: none;
  background-color:rgba(0, 0, 0, 0.3);
  border: 0;
  outline:0;
  transition: all 250ms ease-in-out;
}

button:hover{
  background-color:rgba(0, 0, 0, 0.7);
}

.arrow {
  cursor: pointer;
  width: 70px;
  height: 90px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
}

.left {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45px" height="60px" viewBox="0 0 50 80" xml:space="preserve"><polyline fill="none" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" points="45.63,70.8 0.375,38.087 45.63,5.375 "/></svg>');
  background-repeat: no-repeat;
  background-position:center;
  float:left;
  margin-left: 10px;
}

.right {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45px" height="60px" viewBox="0 0 50 80" xml:space="preserve"><polyline fill="none" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" points="0.375,5.375 45.63,38.087 0.375,70.8 "/></svg>');
  background-repeat: no-repeat;
  background-position:center;
  float: right;
  margin-right: 10px;
}
