.content{
	background-color:#F4F4F4;
}

.slider{
	background-image:url(../img/Plaza_1900_479.jpg);
	background-repeat: no-repeat;
	height: 479px;
	width:100%;
	margin-bottom:25px;
}

.banner{
	display:block;
	max-width:1180px;
	margin:0px auto 25px auto;
	padding:10px 10px 5px 10px;
	background-color:#FFF;
	border:1px solid #ddd;
}

.bannerBox{
	width:33%;
	display: inline-block;
}

.bannerBoxTitle{
	text-align: center;
	font-size: 20px;
	margin:0 auto;
	display:table;
}

.bannerBoxText{
	text-align: center;
	margin:5px auto;
	display:table;
	color:#767676;
}

.teaser{
	display:block;
	width:1200px;
	margin:0px auto 40px auto;
}

.teaserBig{
	width:45%;
	display: inline-block;
	background-image:url(../img/Privatni_smjestaj_500_500.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 480px;
}

.teaserSmall{
	width:27%;
	display: inline-block;
}

.teaserSmallTopFirst{
	margin:0 0 20px 20px;
	background-image:url(../img/NAZIV_400_300.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 260px;
}

.teaserSmallBottomFirst{
	margin:0 0 0 20px;
	background-image:url(../img/Hrvatska-vile_400_300.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 200px;
}

.teaserSmallTopSecond{
	margin:0 0 20px 20px;
	background-image:url(../img/Kuce_400_300.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 260px;
}

.teaserSmallBottomSecond{
	margin:0 0 0 20px;
	background-image:url(../img/Dalmacija_400_300.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 200px;
}

.bwrapper{
	background-color:#E2E2E2;
	width:100%;
}

.branches{
	display:block;
	width:1200px;
	margin:0px auto 25px auto;
}

.branchfour{
	width:282px;
	margin:20px 0px 20px 20px;
	display: inline-block;
}

.branchfour:nth-of-type(1) {
    margin-left:0px;
}

.branchpicOne{
	background-image:url(../img/Top_Kuce_276_151.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 151px;
}

.branchpicTwo{
	background-image:url(../img/Dalmacija_276_151.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 151px;
}

.branchpicThree{
	background-image:url(../img/Obiteljske_276_151.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 151px;
}

.branchpicFour{
	background-image:url(../img/Hrvatski_276_151.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 151px;
}

.branchtext{
	background-color:#FFF;
	height:100px;
	padding:10px;
}

.branchtext a{
	color:#005687;
	text-decoration: none;
}