.footer-line {
  width:100%;
  height:50px;
  background-color:#733592;
}

.footer-content{
	display:block;
	max-width:1180px;
	margin:0px auto 25px auto;
	padding:20px 0px 5px 0px;
}

.width25{
	width:25%;
	float:left;
	padding:0px 10px;
}


.workinghours{
	background:url(../img/clock.png) no-repeat top left;
	background-size: cover;
	padding-left: 15px;
	margin-right:5px;
	font-size: 10px;
}

.margin10tb{
	margin:10px 0px;
}

ul.footer-list{
	padding-left: 5px;
	margin:10px 0 0 0;
}

ul.footer-list > li{
	display:list-item;
	background-image:url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="7px" height="7px" viewBox="0 0 357 357" style="enable-background:new 0 0 357 357;" xml:space="preserve"><g><g id="play-arrow"><polygon points="38.25,0 38.25,357 318.75,178.5"/></g></g></svg>');
	background-repeat: no-repeat;
	background-position: 0 7px;
	padding: 0 0 2px 12px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.width25 > img{
	margin:auto;
	display: block;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

svg{
	fill: white;
    background-color: #1e4c7a;
    border-radius: 5px;
    width: 32px;
	height: 32px;
    margin-right: 8px;
	margin-left: 10px;
	background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-7%20-5%2030%2030%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M7%2018v-8H4V7h3V4.5C7.1%202.9%208%201%2010%201h3v3h-3v3h3v3h-3v8H7z%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}