#home {
  width: 30px;
}
#logo {
  max-width: 200px;
  width: 100%;
  height: 70px;
}
.header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
.noSpaces {
  margin-bottom: 0;
  padding-left: 0;
}
.noPadding {
  padding: 0;
}
.paddingSmallTop {
  padding-top: .313em;
}
.paddingBigTop {
  padding-top: .625em;
}
.paddingBigLeft {
  padding-left: .625em;
}
.paddingBigRight {
  padding-right: 1.25em;
}
.text-right {
  text-align: right;
}
.small {
  font-size: 92%;
}
.smallLeft {
  width: 25%;
  float: left;
}
.bigLeft {
  width: 75%;
  float: left;
}
a {
  color: #005687;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #f48200;
  text-decoration: none;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
li {
  display: list-item;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.inlineblock {
  display: inline-block;
}
.list-inline>li {
  display: inline-block;
  padding-right: 6px;
}
.menu {
  position: relative;
}
.menu-item {
  float: left;
  padding: 15px 0;
}
.menu-item > a {
  border-right: 1px solid #fff;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.menu-item:hover > a, .menu-item > .current-menu-item { 
  background-color: #005687;
  color: #fff;
  transition: background .5s ease-in;
}
