.head {
  display: flex;
}
.logo-wrapper {
  margin-top: 17px;
  width: 100%;
  height: 70px;
  margin-bottom: 17px;
  margin-left: 25px;
}
.header-left {
  width: 25%;
  float: left;
}
.header-right {
  width: 75%;
  float: left;
}
#logo {
  width: 150px;
  position: absolute;
  top: 5px;
}
.list {
  position: absolute;
  right: 10px;
  margin-top: 0;
  margin-right: 25px;
}
.list > li {
  display: inline-block;
  padding-right: 10px;
}
a {
  color: #005687;
  text-decoration: none;
}
.clearfix {
  display: block;
}
.menu {
  position: relative;
}
ul {
  list-style: none;
}
ul :hover {
  color: #f48200;
  text-decoration: none;
}
.menu-item {
  float: left;
  padding: 15px 0;
}
.menu-item :hover {
  background-color: #005687;
  color: #fff;
}
.menu-item>a {
  border-right: 1px solid #fff;
  color: #333;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
}
li {
  display: list-item;
}
.nav {
  position: absolute;
  top: 47px;
}
