.titleRestaurant {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #733592;
  padding: 10px 20px 10px 20px;
}
.addressRestaurant {
  background-color: #F4F4F4;
  padding: 10px 20px 10px 20px;
  border: 2px #733592 solid;
}
.teaserBigRestaurant{
  width:57%;
  display: inline-block;
  height: 500px;
}
.restaurantInfoBox {
  width:40%;
  display: inline-block;
  height: 500px;
  background-color: #FFF;
  border: 1px solid #ddd;
  float: right;
}
.innerBox {
  padding: 10px 20px 10px 20px;
}
.icon {
  background-repeat: no-repeat;
  width:25px;
  height:25px;
  float: left;
}
.clearfix {
  clear: both;
}
.paddingTop {
  padding-top:10px;
}
.text {
  padding-left: 10px;
}
.paddingBottom {
  padding-bottom: 25px;
}
.restaurantTeaser{
  width:100%;
  position:relative;
  margin-bottom:40px;
  background-image: radial-gradient(center center, circle  closest-side, #ffeda3, #ffc800);
  background-image: -o-radial-gradient(center center, circle  closest-side, #ffeda3, #ffc800);
  background-image: -ms-radial-gradient(center center, circle  closest-side, #ffeda3, #ffc800);
  background-image: -moz-radial-gradient(center center, circle  closest-side, #ffeda3, #ffc800);
  background-image: -webkit-radial-gradient(center, 170%  900%, #fff, #733592);
}
.restaurantdesc{
	padding: 20px;
	font-family: Georgia,"Times New Roman","Century Schoolbook L",serif;
	font-style: italic;
	font-size: 16px;
	color: #5c5c8a;
	width:auto;
}
.sliderFood {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 2px;
}

#map {
  margin-top: 40px;
  width: 100%;
  height: 400px;
  background-color: #CCC;
}