.teaserBigRestaurants {
  width:45%;
  display: inline-block;
  background-image:url(../img/zrnosoli.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 480px;
  position: relative;
  cursor: pointer;
}
.teaserSmallTopFirst{
  margin:0 0 20px 20px;
  background-image:url(../img/restaurant1.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 260px;
  position: relative;
  cursor: pointer;
}
.teaserSmallBottomFirst{
  margin:0 0 0 20px;
  background-image:url(../img/restaurant2.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.teaserSmallTopSecond{
  margin:0 0 20px 20px;
  background-image:url(../img/restaurant3.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 260px;
  position: relative;
  cursor: pointer;
}
.teaserSmallBottomSecond{
  margin:0 0 0 20px;
  background-image:url(../img/restaurant4.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.textBox {
  color: #767676;
}
.textBoxMiddle {
  color: #767676;
  display: table;
  text-align: center;
  margin: 5px auto;
}
.teaserBigRestaurants:after, .teaserBigRestaurants:before,
.teaserSmallTopFirst:after, .teaserSmallTopFirst:before,
.teaserSmallBottomFirst:after, .teaserSmallBottomFirst:before,
.teaserSmallTopSecond:after, .teaserSmallTopSecond:before,
.teaserSmallBottomSecond:after, .teaserSmallBottomSecond:before {
  position:absolute;
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.teaserBigRestaurants:after,
.teaserSmallTopFirst:after, .teaserSmallBottomFirst:after,
.teaserSmallTopSecond:after, .teaserSmallBottomSecond:after{
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
}
.teaserSmallTopFirst:before, .teaserSmallBottomFirst:before,
.teaserSmallTopSecond:before, .teaserSmallBottomSecond:before {
  content: attr(data-content);
  width: 100%;
  color: #fff;
  z-index: 1;
  top: 0;
  bottom: 0;
  text-align: left;
  background: rgba(51,51,51,.8);
  box-sizing: border-box;
}
.teaserBigRestaurants:before {
  content: attr(data-content);
  width: 100%;
  color: #fff;
  z-index: 1;
  top: 0;
  padding: 100px;
  text-align: left;
  background: rgba(51,51,51,.8);
  box-sizing: border-box;
}
.teaserBigRestaurants:hover:after, .teaserBigRestaurants:hover:before,
.teaserSmallTopFirst:hover:after, .teaserSmallTopFirst:hover:before,
.teaserSmallBottomFirst:hover:after, .teaserSmallBottomFirst:hover:before,
.teaserSmallTopSecond:hover:after, .teaserSmallTopSecond:hover:before,
.teaserSmallBottomSecond:hover:after, .teaserSmallBottomSecond:hover:before {
  opacity:1;
}
