.content{
  background-color:#F4F4F4;
}

.teaser{
  display:block;
  width:1180px;
  margin:0px auto 0px auto;
  padding-bottom: 40px;
}

.teaserSmall{
  width:27%;
  display: inline-block;
  position:relative;
}

.teaserBigRestaurants {
  width:45%;
  display: inline-block;
  background-image:url(../img/zrnosoli.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 480px;
  position: relative;
  cursor: pointer;
}
.teaserSmallTopFirst{
  margin:0 0 20px 20px;
  background-image:url(../img/restaurant1.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 260px;
  position: relative;
  cursor: pointer;
}
.teaserSmallBottomFirst{
  margin:0 0 0 20px;
  background-image:url(../img/restaurant2.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.teaserSmallTopSecond{
  margin:0 0 20px 20px;
  background-image:url(../img/restaurant3.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 260px;
  position: relative;
  cursor: pointer;
}
.teaserSmallBottomSecond{
  margin:0 0 0 20px;
  background-image:url(../img/restaurant4.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.textBox {
  color: #767676;
  display:block;
  max-width:1180px;
  margin:0px auto 25px auto;
  padding:10px 10px 5px 10px;
  background-color:#FFF;
  border:1px solid #ddd;
}
.textBoxMiddle {
  color: #767676;
  display: table;
  text-align: center;
  margin: 5px auto;
}
.maskContent {
  opacity:0;
  transition: all 1s;
  -webkit-transition: all 1s;
  text-shadow: 2px 2px #000;
}
.teaserBigRestaurants:hover .maskContent,
.teaserSmallTopFirst:hover .maskContent,
.teaserSmallBottomFirst:hover .maskContent,
.teaserSmallTopSecond:hover .maskContent,
.teaserSmallBottomSecond:hover .maskContent {
  opacity:1;
}
.mask {
  display: block;
  width: 100%;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 70px;
  background: rgba(115,53,146, 0);
  top: 0;
  bottom: 0;
  position: absolute;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.teaserBigRestaurants:hover .mask,
.teaserSmallTopFirst:hover .mask,
.teaserSmallBottomFirst:hover .mask,
.teaserSmallTopSecond:hover .mask,
.teaserSmallBottomSecond:hover .mask {
  background: rgba(138,43,226, .2);
  color: #fff;
}
.reviewHeadline {
  font-family: Georgia,"Times New Roman","Century Schoolbook L",serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}

span.overlay{
  background:rgba(255,255,255,.8);
  font-size: 1.5em;
  bottom:0;
  display:block;
  z-index:1;
  padding:10px;
  width:100%;
  left:0;
  color:#733592;
  position:absolute;
}

span.overlaySmall{
  background:rgba(255,255,255,.8);
  font-size: 1em;
  bottom:0;
  display:block;
  z-index:1;
  padding:10px;
  width:100%;
  left:0;
  color:#733592;
  position:absolute;
}