.teaserBigRestaurants {
  width:45%;
  display: inline-block;
  background-image:url(../img/zrnosoli.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 480px;
  position: relative;
  cursor: pointer;
}
.teaserSmallTopFirst{
  margin:0 0 20px 20px;
  background-image:url(../img/restaurant1.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 260px;
  position: relative;
  cursor: pointer;
}
.teaserSmallBottomFirst{
  margin:0 0 0 20px;
  background-image:url(../img/restaurant2.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.teaserSmallTopSecond{
  margin:0 0 20px 20px;
  background-image:url(../img/restaurant3.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 260px;
  position: relative;
  cursor: pointer;
}
.teaserSmallBottomSecond{
  margin:0 0 0 20px;
  background-image:url(../img/restaurant4.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.textBox {
  color: #767676;
}
.textBoxMiddle {
  color: #767676;
  display: table;
  text-align: center;
  margin: 5px auto;
}
